:root{
    --main-bg-colr:#0078ad;
    --main-text-color:#0078ad;
    --second-text-color:#bbbec5;
    --second-bg-color:#c1efde;

}

.primary-text{
    color:var(--m-text-color);
}

.second-text{
    color:var(--second-text-color);
}
.primary-bg{
    background-color: var(--main-bg-color);
}

.secondary-bg{
    background-color: var(--second-bg-color);
}

.rounded-full{
    border-radius:100%;
}

#wrapper{
    overflow-x:hidden;
    background-image: linear-gradient(
        to right,
        #1d91c3,
        #229fd5,
        #57b6de,
        #64c0e8,
        #54c2f1


    ) ;
}

#sidebar-wrapper{
    min-height:100vh;
    margin-left: -15rem;
    transition: margin 0.25s ease-out;

}

#sidebar-wrapper .sidebar-heading{
    padding: 0.875rem 1.25rem;
    font-size:1.2rem;
}

#sidebar-wrapper .list-group{
    width: 15rem;
}

#page-content-wrapper{
    min-width:100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  #menu-toggle {
    cursor: pointer;
  }
  
  .list-group-item {
    border: none;
    padding: 20px 30px;
  }
  
  .list-group-item.active {
    background-color: transparent;
    color: var(--main-text-color);
    font-weight: bold;
    border: none;
  }
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }


  #container{
      padding-right: 1.5rem;
      padding-left: 1.5rem;
      
      display: flex;
      
      flex-wrap: nowrap;
      
      
      input{
          width: 90%;   
          padding: 10px 10px;
          margin: 10px;

          border-radius: 5px;

          border: 0px;
          
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          
        }
        button{
            
            margin: 10px;
            
            border-radius: 5px;
            
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            
            border: 0px;

            background-color: #0c5273;

            color : white;

            padding: 6px;

        }
        h4{
            
            margin: 10px;

            color: white;
    }
  }

  #btnTable{
    margin-left: 18%;
    margin-bottom: 10px;

    button{
      margin-left:20px;
      padding: 10px;
      background-color:#073245;
      border: 0px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    button:hover{
      cursor: pointer;
      background-color:#7ec1e0;
      color:black;

    }
  }

  .editbtn{
    border: 0px;
    background-color: #0c5273;
    color: white;
    padding: 8px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .editbtn:hover{
    cursor: pointer;
    background-color: #54c2f1;
  }
  
  .delbtn{
    border: 0px;
    background-color: red;
    color: white;
    padding: 8px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .delbtn:hover{
    cursor: pointer;
    background-color:tomato;

  }