li{
    list-style-type: circle;
}

#footers>div>a{

    text-decoration: dotted;
    color: black;
    display: grid;
     padding-top: 10px;
     padding-bottom: 10px;
     margin-bottom: 10px;
    
    
        
    }
    
    #footers{
         display: flex;
         flex-wrap: wrap;
        justify-content:space-between;
        margin-bottom: 50px;
    
            font-family: Arial, Helvetica, sans-serif;
        
    
    }
    
      footer{
        margin-top: 50px;
        padding-top: 20px;
         
    
    }
    
     
    #footers>div>a:hover{
        background-color: rgb(232, 222, 222);
            
        }
    
        #copywrites>div:nth-child(1){
            display: flex;
            text-align: center;
          align-items: center;
        }
    
        #copywrites {
            display: flex;
            flex-wrap: wrap;
              justify-content: space-between;
             
            font-family: Arial, Helvetica, sans-serif
        }
        h4{
            padding-top: 30px;
            padding-bottom: 10px;
        }
          
         @media(min-width:1300px){
            #faqs{
                max-width: 1300px;
                margin: auto;

            }
            #faqs{
                display: grid;
                justify-content: center;
                align-items: center;
            }
         }