.cards>div{
    display: flex;
   justify-content: space-between;
   /* width: 400px; */
   /* flex-wrap: wrap; */
   gap: 20px;
    
}
.cards>div>div>img{
    /* width: 00px; */
    width: 300px;
}
.cards>div>div>div>p{
     text-align: right;
     justify-content: center;
     font-size: 13px;
}
.cards>div>div{
    padding: 10px;
    /* width: 300px; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}
img{
    /* width: 300px; */
max-width: 100%;
}
 
.details{
    display: flex;
    justify-content: space-between;
}
h4{
    color:#E30513;
}
h5{
    color: #25AB21;
}
.details>p{
    color: #0C5273;
    font-size: 13px;
}
a{
    text-decoration: none;
}
 
    @media (min-width:1300px){
        #Totaloffers{
            max-width: 1300px;
            margin: auto;
        }
        #Totaloffers{
            display: grid;
            justify-content: center;
            align-items: center;
        }
        
    }
    .cards>div>div{
        
        margin-top: 20px;
    }


    /* footer section  */
    #footers>div>a{

        text-decoration: dotted;
        color: black;
        display: grid;
         padding-top: 10px;
         padding-bottom: 10px;
         margin-bottom: 10px;
        
        
            
        }
        
        #footers{
             display: flex;
             flex-wrap: wrap;
            gap: 50px;
            justify-content: space-between;
            margin-top: 100px;
        
               
            
        
        }
        
        
         
        #footers>div>a:hover{
            background-color: rgb(232, 222, 222);
                
            }
        
            #copywrites>div:nth-child(1){
                display: flex;
                text-align: center;
              align-items: center;
            }
        
            #copywrites {
                display: flex;
                flex-wrap: wrap;
                /* gap: 100px; */
                justify-content: space-between;
                 
                 
            }
        #Totaloffers{
            font-family: Arial, Helvetica, sans-serif;
        }
              

        /* navbar css */

        *{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color: white;
     
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mnavContainer{
    width: 100%;
    
    display: grid;
    grid-template-rows: repeat(2,1fr);
    overflow-x: hidden;
   
    
}


.mnavContainer>div:nth-child(1){
    height: 70px;
}
.mnavChildcontainer{
    display: flex;
    background-color: #0078ad;
    

}
.hamburgerAndlogo{
    width: 200px;
    height: 60px;
   
    margin-inline: 40px;
    margin-block: 5px;
    display: flex;
}
.hamburger{
    width: 40px;
    height: 40px;

    margin-inline: 20px;
    margin-block: 5px;
    border-radius: 50%;
    
}

.hamburger:hover{
    background-color: #0c5273;
    cursor: pointer;
}
.logo>img{
    width: 100px;
    height: 60px;
   
    border-radius: 50px;
   
}
.delivery{
    width: 270px;
  
    margin-block: 20px;
    display: flex;
    >h4{
       margin-block: 5px;
       margin-inline: 5px;
    }
    
}
.search{
    display: grid;
    width: 350px;
    height: 40px;
    margin-block: 10px;
    margin-left: 0;
 
    margin-inline: 300px;
    /* margin-block: 8px; */
    grid-template-columns: repeat(3,1fr);
    border-radius: 20px;
    background-color: white;
}

.search>div:nth-child(1){
    height: 40px;
    /* margin-block: 10px; */
    /* border-radius: 20px; */
   
}
.search>div:nth-child(2){
    width: 253px;
    height: 40px;
    /* margin-block: 10px; */
    
}
.search>div:nth-child(3){
    height: 40px;
    /* margin-block: 10px; */
}

.cart{
    width: 50px;
   
    margin-inline: 40px;

    margin-block: -40px;
    margin-inline: 670px;
    
}
.count{
    width:18px;
    height:18px;
   
    position: absolute;
    margin-inline: 20px;
    z-index: 1;
    top: 15px;
    left: 1215px;
    background-color: red;
    border-radius: 50%;
    text-align: center;
  


}
.signin{
    margin-left: 720px;
    width: 92px;
    margin-block: 3px;
    border-radius: 20px;
    
    >button{
      height: 30px;
      width: 92px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      background-color: transparent;
      
    }
    
}
/* work on 28/3 */
.signin:hover{
    background-color: #0c5273;
}
.menu-bar{
    height: 37px;
    background-color: #0c5273;
    z-index: 1;
   
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    
}
.menu-bar ul li{
    margin-block: -15px;
    margin-inline: 10px;
    padding: 10px;
    z-index: 1000;
   
    
}
.menu-bar ul li a{
    text-decoration: none;
    /* height: 30px; */
    color: white;
    
    
}
.GroceriesSubmenu{
    display: none;
    
}
.GroceriesSubmenu ul{
    background-color:#0078ad ;
}
.GroceriesSubmenu ul li a{
    color: white;
    line-height: 30px;
    margin-left: -50px;
   
}
.menu-bar ul li:hover .GroceriesSubmenu{
    display: block;
    position: absolute;
    margin-top:20px;
    margin-left: -10px;
    
}
.menu-bar ul li:hover .GroceriesSubmenu ul{
    display: block;
    width:auto;
    
}
p{
    color: black;
}
.FruitsDropdown{
    display: none;
}
.fruitshover:hover .FruitsDropdown{
      position: absolute;
      display: block;
      margin-left: 110px;
      margin-top: -25px;
      width: auto;
      z-index: 1;
   
     
}
.hamburgerContainer{
    padding: 200px 200px;
   
}
.ProductContainer{
    width: 100%;
    overflow-x: hidden;
    height: 1000px;
   
}
.slide{
    width: 400px;
    height: auto;
    position: absolute;
    top: 0;
    left: -400px;
    box-shadow: 2px 2px 2px 0px rgb(212, 209, 209);
    z-index: 1000;
 
}

.slideHome{
    width: 400px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0078ad;
}
.slide h3{
    margin-right: 80px;
}

.signin1{
    margin-right: 30px;
    border: 1px solid white;
    width: 90px;
    margin-block: 3px;
    border-radius: 20px;
    
    >button{
      width: 90px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
      background-color: transparent;
      
      
    }
}
.signin1:hover{
    border: 1px solid #0c5273 ;
}
.Arrow{
    width: 50px;
    height: 50px;
    margin-left: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Arrow:hover{
    background-color: #0c5273;
}
.slideMidMainBox{
    width: 400px;
    background-color: white;
    /* z-index: 1000; */
    
    
}
.SlideMidContent{
    width: 380px;
    border: 1px solid white;
    background-color: white;
 
    
    >h5{
       margin-left: 40px;
       color: black;
    }
   
}
.SlideMidContent ul {
    list-style: none;
    line-height: 40px;
    border-bottom: 1px solid #ccc;
}
.SlideMidContent ul li a{
    text-decoration: none;
    color: #565656;
    transition: 0.2s ease-out;
}
.SlideMidContent ul li a:hover{
    text-decoration: underline;
}
.itags{
    margin-right: 10px;
}
.slideSecondLastContent{
    width: 400px;
    height: 200px;
    /* z-index: 1000; */
    background-color: rgb(247, 242, 242);
    padding: 10px;
  
    >h3{
        margin-left: 40px;
        color: black;
    }
}
.gpAndAppleStore{
    width: 300px;
    
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
}
.GooglePlayStore{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8_GSGDneF42Y3lPYO4HHsKm8pyRHyWRJM7er0t0T381hvQAc_ii7Hme_O_Ym6G4fSbAg&usqp=CAU);
    background-size: cover;
}
.AppleStore{
    width: 120px;
    height: 50px;
    border-radius: 10px;
    background-image: url(https://1000logos.net/wp-content/uploads/2020/08/apple-app-store-logo.jpg);
    background-size: cover;
}
.ParaContent{
    width: 300px;
    height: 90px;
   
    margin-left: 40px;
    >p{
        color: #565656;
        font-size: smaller;
    }
}
/* Media query */


@media (max-width: 992px){
    .hamburger{
        display: block;
    }
}

